* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
img {
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont,Open-Sans,'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #2d2013;
}
.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace,Open-Sans;
}


.header {
    padding: 20px 0;
    width: 100%;
    background: #23180d;
    font-size: 20px;
    text-transform: uppercase;

}
.logo {
    width:300px;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn {
    background-color: #2d2013;
    padding: 8px 10px;
    border: none;
    font-size: 17px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    color: white;

}
.btn:hover {
    color: white;
    background-color: #c52d2f;
}
input.search-form {
    margin-right: 20px;
    margin-left: 30px;
    background: white;
    padding-right: 6px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: gray;
    width: 120px;
    border-radius: 4px 4px 4px 4px;
}
.hero {
    padding: 30px 0;

}
.col-3 {
    width: 33.3333%;
    padding: 0 15px;
    color: white;
    text-align: center;
}

.col-8{
    width: 66.666%;
    color: white;
    padding: 0 15px;
    text-align: center;

}
.hero-title {
    margin-bottom: 20px ;
    font-family: 'Open Sans', sans-serif;

}
.side-bar {
    display: flex;
    justify-content: space-between;
}
.element-title {
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    overflow: hidden;
}
.col-7 {
    width: 55.556%;
    padding: 20px 15px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.item-col {
    width: 22.222%;
    padding: 0 10px;
    color: white;
    text-align: center;

}
.item-col img {
    max-width: 100%;
}
.item-meal {
    margin-bottom: 30px;
}
.element-col {
    width: 25%;
    padding: 0 15px 0 0;
    overflow: hidden;
    text-align: center;


}
.element-btn {
    margin-top: 20px;

}
.title {
    color: white;
    text-align: center;
    margin: 15px 0;

}

.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}
.burger span {
    width: 50px;
    height: 2px;
    background: gray;
    z-index: 2;
    position: relative;
}
.burger span:before {
    content: "";
    width: 50px;
    height: 2px;
    background: gray;
    z-index: 2;
    position: absolute;
    top: -10px;
    left: 0;
}

.burger span:after {
    content: "";
    width: 50px;
    height: 2px;
    background: gray;
    z-index: 2;
    position: absolute;
    bottom: -10px;
    right: 0;
}
.show-menu span:before{
    transform: rotate(-40deg);
}
.show-menu span:after{
    transform: rotate(40deg);
}
.show-menu span:before,.show-menu span:after{
    top: 0;
    bottom: 0;
    margin: auto;
}
.show-menu span{
    background-color: transparent;
}

.meal-title {
    color: white;
    margin: 15px 0;
}
.item-img{
    width: 100%;
    margin-top: 15px;
}
.line-img {
    margin: 30px 0;
}
.spinner-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
    background: #23180d;
    font-size: 20px;
    text-transform: uppercase;

}
.browse-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.browse-btn {
    padding: 3px;
    display: block;
    background-color: #2d2013;
    border: none;
    color: #d57d1f;
    font-size: 22px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}
.footer-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logos img {
    background-size: cover;
    max-width: 100%;
}
/*******************Media  queries**********************************/
@media (max-width: 1440px) {
    .container {
        max-width: 1170px;
    }
    .burger {
        display: none;
    }

}
@media (max-width: 1170px) {
    .container {
        max-width: 967px;
    }
    .burger {
        display: none;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 767px;
    }
    .item-col{
        width: 50%;
        margin-bottom: 10px;
    }
    .element-col{
        width: 50%;
        margin-bottom: 10px;
    }
    .homepage-title{
        width: 87%;

    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
        align-items: center;
    }
   .item-col,.element-col{
        width: 50%;
        padding: 0 5px;
    }
    .menu {
        background: #23180d;
        background-blend-mode: luminosity;
          mix-blend-mode: normal;
          border-radius: 10px;
          position: fixed;
          width: 100%;
          height: 100%;
          left: -100%;
          top: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transition: 0.5s;
          z-index: 4;
      }

    .burger {
        z-index: 5;
        display: flex;
        position: fixed;
        right: 50px;
        top: 50px;
    }

    .menu.show {
        left: 0;
    }
    img {
        max-width: 100%;
    }

    .menu-show {
        position: fixed;
        right: 0;
        top: 20px;
    }
    .logo {
        width: 290px;
    }
    .item-col,.element-col {
        width: 100%;
    }
    .item-col img {
        width: 100%;
    }
    .side-bar {
        display: flex;
        align-items: center;
    }
    .row{ text-align: center}
    .menu a {
        margin: 20px 0;
    }
    .col-3 {
    width: 100%;
}
    .col-8 {
        width: 100%;
    }



}
@media (max-width: 540px) {
    .container {
        max-width: 320px;
    }
    .row {
        align-items: center;
    }
    .col-8,.col-3,.col-7,.col-4,.col-6{
        width: 100%;
    }
    .col-4,.item-col{
        width: 100%;
        padding: 0 5px;
        text-align:center;
    }
    .logo {
        width: 230px;
    }
    img{
        width: 100%;
    }
    .homepage-title{
        width: 100%;

    }
}





